@font-face {
    font-family: "JuraBold";
    src: url(fonts/JuraBold.ttf);
    font-family: "JuraRegular";
    src: url(fonts/JuraRegular.ttf);
    font-family: "JuraLight";
    src: url(fonts/JuraLight.ttf);
}
* {
    color: #fff;
}
body {
    margin: 0;
    padding: 0;
    background: url('img/video.png');
    background-size: cover;
}
.bgVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -9999;
  }
.header{
    padding: 1em;
    text-align: center;
    margin-top: 30px;
}
.header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: JuraBold, sans-serif;
    font-size: 24px;
}
.header nav ul li{
    display: inline-block;
    margin-right: 35px;
    margin-left: 35px;
}
.header nav ul li a{
    text-decoration: none;
}
.navMain{
    border-radius: 15px;
    border: 2px solid white;
    padding: 15px;
}
.header nav ul li a:hover{
    border-radius: 15px;
    border: 2px solid white;
    padding: 15px;
}
.glavnaya {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.glavnaya h1 {
    font-family: JuraLight, sans-serif;
    font-size: 150px;
    text-align: center;
    margin: 15% 0 0 0;
}
.glavnaya h2 {
    font-family: JuraLight, sans-serif;
    font-size: 40px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end);
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }